about-time==4.2.1
alive-progress==3.1.5
altgraph==0.17.4
ansi2html==1.8.0
certifi==2023.7.22
charset-normalizer==3.3.1
cinemagoer==2023.5.1
click==8.1.7
colorama==0.4.6
dash==2.14.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distlib==0.3.7
filelock==3.12.4
Flask==2.2.5
grapheme==0.6.0
greenlet==3.0.1
gunicorn==21.2.0
idna==3.4
IMDbPY==2022.7.9
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
macholib==1.16.3
MarkupSafe==2.1.3
modulegraph==0.19.6
nest-asyncio==1.5.8
numpy==1.26.1
packaging==23.2
pandas==2.1.3
pefile==2023.2.7
platformdirs==3.11.0
plotly==5.17.0
progress==1.6
progressbar2==4.2.0
py2app==0.28.6
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
python-dateutil==2.8.2
python-utils==3.8.1
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
retrying==1.3.4
setuptools==68.2.2
six==1.16.0
SQLAlchemy==2.0.23
tenacity==8.2.3
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.24.5
Werkzeug==2.2.3
zipp==3.17.0
